apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deployment
  labels:
    app: user-service-pod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service-pod
  template:
    metadata:
      labels:
        app: user-service-pod
    spec:
      containers:
        - name: user-service-pod
          image: gcr.io/social-363908/user-service:latest
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password
            - name: AUTH_JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: auth-jwt-secret-key
            - name: PROJECT_ID
              valueFrom:
                secretKeyRef:
                  name: storage-secret
                  key: project_id
            - name: PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: storage-secret
                  key: private_key
            - name: CLIENT_EMAIL
              valueFrom:
                secretKeyRef:
                  name: storage-secret
                  key: client_email
            - name: STORAGE_MEDIA_BUCKET
              value: social-app-data
          ports:
            - containerPort: 3000
          volumeMounts:
          - name: google-cloud-key
            mountPath: /var/secrets/google
      volumes:
        - name: google-cloud-key
          secret:
            secretName: service-account-credentials

---
apiVersion: v1
kind: Service
metadata:
  name: user-service-internal
spec:
  selector:
    app: user-service-pod
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000